{% load static %}
<footer id="footer" class="text-center text-white " style="background-color: #212529;">
  <!-- Grid container -->
  <div class="about">
  <h2>Ferramentas utilizadas</h2>
  <img src="https://img.icons8.com/color/96/000000/python--v1.png"/>

  <img src="https://projeto-myflix.s3.amazonaws.com/icons/icons8-django-50.png"/>

  <img src="https://img.icons8.com/fluency/48/000000/javascript.png"/>
  
  <img src="https://projeto-myflix.s3.amazonaws.com/icons/icons8-amazon-web-services-96.png"/>
  
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy 2022 Produzido por FernandoVicent:
    <a class="text-white" href="https://github.com/FernandoVicent"><img src="https://projeto-myflix.s3.amazonaws.com/icons/icons8-github-30.png"/></a>
  </div>
  <!-- Copyright -->
</footer>