{%for c in generos %}
        <h2 class="titulo-filmes"> {{ c }}</h2>

        <div class="carousel-filmes">


          {% for x in video %}


          {% if x.categoria == c   %}


                    <ul>
                    <a href="{% url 'movie-detail' x.uuid %}">
                    <li class="items-filme">
                        <img  class="items-filme" src="{{ x.capa_filme.url }}">
                    </li>
                    </a>
                </ul>                    
          {%endif%}



          {% endfor %}<!-- for dos filmes -->



      </div>
      {% endfor %}<!--for do generos -->