body{
    background: rgba(1, 6, 27, 0.69); }

#cabecalho nav{
    background-color: #312D2D;
    font-family: 'Jockey One', sans-serif;
    font-style: normal;
    font-weight: bold;  }

#logo{
    margin-left: 10%;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 5px 3px 4px #000000;  }
.container-principais img{
    height: 550px;
}
#botao-menu button{
    
    font-weight: bold;
    border: 0;
}
.items-filme, .slick-slide{    
    width: 260;
    height: 330px;
}
.titulo-filmes{
    margin-left: 5%;
    text-shadow: 1px 1px 2px black;
    text-align: left;
    font-size: 32px;
    font-family: 'Jockey One';
    line-height: 45px;
    font-style: normal;
    font-weight: bold;
    
    color: #000000; 
}



/*---------------Rodapé------------*/
.about h2{
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 0px 1px #d5f0ec;
    
}
.about img{
    margin-right: 50px;
    width: 50px;
    height: 50px;
}






